.bnt {
    border: none;
    background-color: var(--primary-color);
    border-radius: 4px;
    height: 40px;
    min-width: 100px;
    color: var( --white-color);
    display:flex;
    align-items: center;
    padding-right: 16px ;
    cursor: pointer;
   
}

.bnt:hover {
    background-color: var(--bnt-hover);
}

.bnt-perssed {
    background-color: #01B075;
}
.bnt-add-container{
    display: flex;
}

